.grid_forside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh; /* Fyld hele skærmen */
}

.vinterfarve {
  background-color: #86b0d0;
  padding: 100px;
}

.forarfarve {
  background-color: #9baf8b;
  padding: 100px;
}

.sommerfarve {
  background-color: #f0907b;
  padding: 100px;
}

.efterarfarve {
  background-color: #f5be80;
  padding: 100px;
}
.grid_forside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.vinterfarve,
.forarfarve,
.sommerfarve,
.efterarfarve {
  padding: 100px;
}

@media screen and (max-width: 768px) {
  .grid_forside {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .vinterfarve,
  .forarfarve,
  .sommerfarve,
  .efterarfarve {
    padding: 19px; /* Reducer padding i mobiltilstand for at tilpasse indholdet */
  }
}
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Fyld hele boksen lodret */
}

a {
  font-family: "futura-pt", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  transition: transform 0.4s;
}

a:hover {
  transform: scale(1.4); /*zoom effekt på knapper*/
}

@media screen and (min-width: 1200px) {
  a {
    font-family: "futura-pt", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 3rem;
  }
}
